/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f9;
    background-image:url(silos.jpg);
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

/* Contenedor principal */
.contenedor1 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

/* Estilo del título */
h4 {
    color: #ffffff;
    font-size: 1.8em;
    margin-bottom: 20px;
    font-weight: 600;
}

/* Estilo de las etiquetas */
label {
    font-size: 1.1em;
    margin-bottom: 10px;
    display: block;
    color: #ffffff;
    text-align: left;
}

/* Estilo del select y el input */
select, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

select:focus, input[type="number"]:focus {
    border-color: #0066cc;
    outline: none;
}

/* Estilo del botón */
button {
    width: 100%;
    padding: 12px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 102, 204, 0.3);
}

button:hover {
    background-color: #004da3;
}

button:active {
    transform: scale(0.98);
}

/* Estilo del resultado */
p#resultado {
    font-family: 'Arial', sans-serif;
    font-size: 16px; 
    line-height: 1.6;  
    color: #ffffff;  
    margin: 0 0 1em;
    text-align: left; 
    max-width: 600px;
};

